*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Variables */
:root {
    --primary: #041C32;
    --secondary-first: #064663;
    --secondary-second: #04293A;
    --tertiary: #ECB365;
    --font-xl: 1.777rem;
    --font-l: 1.333rem;
    --font-m: 0.75rem;
}

/* Global Styles */

body {
    margin: 1%;
    font-family: 'Karla', 'Helvetica', sans-serif;
    color: var(--primary);
    font-size: 21px;
}

h1 {
    color: var(--tertiary);
    text-align: right;
    font-size: 2.369rem;
}

main {
    display: flex;
}

.main-body {
    width: 80%;

}