.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
}

aside nav {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary);
    padding: 5%;
}

a {
    font-size: var(--font-l);
    text-decoration: none;
    color: unset;
}