header + div {
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
}

h3 {
    font-weight: normal;
    font-size: var(--font-xl);
    text-align: center;
}

.add-order-btn, .order-display button {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    padding: 1%;
}

.add-order-btn h4, .order-display button h4 {
    font-size: 1rem;
    text-align: center;
}

.order-display button {
    margin: 5%;
    width: 50%;
}

button {
    border-width: unset;
    border-color: unset;
    border-style: unset;
    cursor: pointer;
    background: none;
    color: unset;
    font-family: 'Karla', 'Helvetica', sans-serif;
}

.order-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-display select {
    padding: 5%;
    font-family: 'Karla', 'Helvetica', sans-serif;
}