header + div {
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
}

h3 {
    font-weight: normal;
    font-size: var(--font-xl);
    text-align: center;
}

.depts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
}

table td {
    height: 50px;
    text-align: center;
}

.add-dept {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    padding: 1%;
}

.add-dept h4 {
    font-size: 1rem;
    text-align: center;
}

.add-dept svg {
    height: 15%;
    width: 15%;
}

svg {
    width: 30px;
    height: 30px;
}

button {
    border-width: unset;
    border-color: unset;
    border-style: unset;
    cursor: pointer;
    background: none;
    color: unset;
    font-family: 'Karla', 'Helvetica', sans-serif;
}

.del-response {
    height: 25%;
    width: 80%;
    background-color: var(--tertiary);
    margin: 2%;
    padding: 2%;
}